body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(210, 191, 191) ;
padding-left: 1rem;
}
p{

}

header {
    padding-bottom: 10px;
font-size: xx-large;
}

footer{
    padding-bottom: 10px;
    font-size: xx-large;
}

select{
    color: rgb(44, 143, 205);
    border-radius: 20px;
    border-color: rgb(116, 179, 179);
    box-shadow: none;
}
option{
    color: rgb(44, 143, 205);
    border-radius: 20px;
    border-color: rgb(116, 179, 179);
    box-shadow: none;
}