body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    padding: 20px;
}

main {
    border: 10px solid rgb(148, 231, 254);
    padding: 20px;

}

h1 {
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 150px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(127, 180, 245), rgb(233, 233, 118));
    color: white;
    border: none;
    border-radius: 5px;
}



.hidden{
    display: none;
}


#feedback {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

/* Celebration style  */
.celebration {
    font-size: 50rem;
    /* Her fortælles der at der skal være en animation, som er kaldet pop, den skal køre i 1 sek, ind og ud og infinity, forveigt. */
    animation: pop 1s ease-in-out infinite;
}

.grid_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.margin{
   
    margin-bottom: 20px;
    margin-top: 20px;


}

/* Her fortælles der hvad der skal ske med pop. Altså der vises hvor stor og lille den skal blive. */
@keyframes pop {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}


